PORT=8000
MONGODB_URI=mongodb+srv://Kanak125:kannu1234@kanak.hcws0xh.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_super_secret_access_key
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=your_super_secret_refresh_key
REFRESH_TOKEN_EXPIRY=10d

    CLOUDNARY_CLOUD_NAME=
    CLOUDNARY_API_KEY=
    CLOUDNARY_API_SECRET=